///////////////////////////////
//            LOGO           //

.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

///////////////////////////////
//           SEARCH          //
.search {
    flex: 0 0 40%; //format search bar as a flex EL; no grow, no shrink.
    display: flex; //make the element as a flex container for its children els.
    justify-content: center; //align children els along the MAIN axis.
    align-items: center; //align children els along the CROSS axis.

    &__input {
        font-family: inherit; //fonts in <form> are not inhereted automatically.
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 3rem;
        width: 90%; //initial size, makes it possible to animante.
        margin-right: -3rem; //move the magnifying glass inside the searching bar.
        transition: all .2s;

        &:focus {
            outline: none; //reset browser settings.
            width: 100%; //simple animation.
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus+&__button {
        //"+" - first, next sibling (adjasent el).
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2); //"magnifying glass"; same color as the searching bar

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px); //"pushing effect".
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3); //coloring of an SVG item.
    }
}

///////////////////////////////
//          USER NAV         //
.user-nav {
    align-self: stretch; //stretch the flex el along the CROSS axis.

    display: flex; //display els in a row.
    // align-items: center; //align children els along the CROSS axis.

    &>* {
        //">" select direct children.
        padding: 0 2rem;
        cursor: pointer;
        height: 100%; //make els to occupy the container hieght.

        display: flex; //make the elements as flex containers for its children els.
        align-items: center; //align children els along the CROSS axis.
    }

    &>*:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box {
        position: relative; //ralative for "notification"; could be ommited.
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2); //coloring SVG els.
    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        color: #fff;
        background-color: var(--color-primary);
        position: absolute;
        top: 1.5rem;
        left: 3rem;

        display: flex; //position text inside "notification".
        justify-content: center;
        align-items: center;
    }

    // &__user {}

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

    // &__user-name {}
}

///////////////////////////////
//      SIDE NAVIGATION      //
.side-nav {
    font-size: 1.4rem;
    margin-top: 3.5rem;

    &__item {
        list-style: none;
        position: relative;

        &:not(:last-child) {
            //all els exept the last one
            margin-bottom: .5rem;
        }
    }

    &__item::before {
        content: ""; //must-have property for this pseudo class
        position: absolute;
        top: 0;
        left: 0;
        height: 100%; //same hight as of its parent
        width: 3px;
        background-color: var(--color-primary);

        //animation
        transform: scaleY(0); //initial state (invisible);
        transition: transform .2s, //transforms animation in Y derection (from middle up and down). First effect;
            width .4s cubic-bezier(1, 0, 0, 1) .2s; //transforms animation in X derection (to 100%) during .4s with a delay of .2s. Second effect.
        background-color: .1s; //delay for changing the color on click.
    }

    //animation (action on hover)
    &__item:hover::before,
    &__item--active::before {
        //make the first item animated by default.
        transform: scaleY(1); //first effect;
        width: 100%; //second effect.
    }

    &__item:active::before {
        background-color: var(--color-primary-light); //animation for clicking effect.
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        position: relative; //need this property in order to make z-index working;
        z-index: 1; //display the element on top of the animated color bar.

        display: flex;
        align-items: center;
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor; //inherits the parent's color
    }
}

.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;
}

///////////////////////////////
//         HOTEL VIEW        //
// .hotel-view {

// }

.gallery {
    display: flex; //display imaged in a row

    &__photo {
        width: 100%; //width in % for responcive beheviour. 100% will ocupy all available parent's width
        display: block; //remove white space beneath 
    }
}


///////////////////////////////
//          OVERVIEW         //
.overview {
    border-bottom: 1px solid var(--color-grey-light-2);

    display: flex;
    align-items: center;

    &__heading {
        padding: 1.5rem 3rem;
        font-size: 2.25rem;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__stars {
        margin-right: auto;
        display: flex; //get rid of white space beneath
    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary); //colorize SVGs
    }

    &__icon-location {
        margin-right: .5rem;
    }

    &__location {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        align-self: stretch;
    }

    &__rating {
        color: var(--color-grey-light-1);
        background-color: var(--color-primary);
        margin-left: 3rem;
        padding: 0 2.25rem;

        align-self: stretch; //ocupy the hole heigh of the parent el
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-average {
            font-size: 2.25rem;
            font-weight: normal;
            margin-bottom: -3px;
        }

        &-count {
            font-size: .8rem;
            text-transform: uppercase;
        }
    }
}

///////////////////////////////
//         BTN INLINE        //
.btn-inline {
    display: inline-block;
    color: var(--color-primary);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid currentColor; //make the border color the same as the text of the button
    padding-bottom: 2px;
    font-size: inherit;
    cursor: pointer;
    transition: all .2s;

    & span {
        margin-left: 3px;
        transition: margin-left .2s;
    }

    &:hover {
        color: var(--color-grey-dark-1);

        & span {
            margin-left: 8px;
        }
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

///////////////////////////////
//         PARAGRAPH         //
.paragraph:not(:last-of-type) {
    padding-bottom: 2rem;
}

///////////////////////////////
//            LIST           //
.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: 1px solid var(--color-grey-light-2);
    border-bottom: 1px solid var(--color-grey-light-2);

    display: flex;
    flex-wrap: wrap;

    &__item {
        flex: 0 0 50%; //devide the items in 2 columns
        margin-bottom: .7rem;

        display: flex;
        align-items: start;

        &::before {
            content: "";
            display: inline-block;
            height: 1.4rem;
            width: 1.4rem;
            margin-right: .7rem;
            margin-top: .5rem;

            // older berowsers
            // background-image: url(../img/svg/chevron-thin-right.svg);
            // background-size: cover;

            //newer berowsers
            background-color: var(--color-primary);
            mask-image: url(../img/svg/chevron-thin-right.svg);
            mask-size: cover;

        }
    }
}

///////////////////////////////
//         RECOMMEND         //
.recommend {
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);

    display: flex;
    align-items: center;

    &__count {
        margin-right: auto;
    }

    // &__friends {

    // }

    &__photo {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: 2px solid var(--color-grey-light-1);
        box-sizing: content-box; //move the border outside of the pictures

        &:not(:last-of-type) {
            margin-right: -1.5rem; //put the picturears one on top of the other
        }
    }
}

///////////////////////////////
//          REVIEW           //
.review {
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, .06);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;


    &__text {
        margin-bottom: 2rem;
        position: relative; //for the z-index to let it work
        z-index: 1;
    }

    &__user {
        display: flex;
        align-items: center;
    }

    &__phopto {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }

    &__user-box {
        margin-right: auto;
        shape-outside: circle(50%);
    }

    &__user-name {
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: .4rem;
    }

    &__user-date {
        font-size: 1rem;
        color: var(--color-grey-dark-3);
    }

    &__rating {
        font-size: 2.2rem;
        font-weight: 300;
        color: var(--color-primary);
    }

    &::before {
        content: "\201C";
        font-size: 20rem;
        font-family: sans-serif;
        line-height: 1;
        color: var(--color-grey-light-2);
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        // z-index: 1;
    }
}

///////////////////////////////
//      CALL TO ACTION       //
.cta {
    padding: 3.5rem;
    text-align: center; //center both h2 and button els

    &__book-now {
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }
}

.btn {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    border-radius: 100px; //make round corners
    // padding: 2rem 7.5rem;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    color: var(--color-grey-light-2);
    position: relative;
    overflow: hidden; //hide invisible part of the button
    cursor: pointer;

    &>* {
        transition: all .2s;
        display: inline-block; // in order to apply paddings
        width: 100%; //occupy the whole width and hight of the parent el and centers
    }

    &__visible {
        padding: 2rem 7.5rem; //define actual size of the button
    }

    &__invisible {
        position: absolute; //hide text of the el
        left: 0;
        top: -100%; //shifts the whole el up
        padding: 2rem 0; // 0 on left and right in order to give enough spase for the content
    }

    &:hover {
        background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    }

    &:hover &__visible {
        transform: translateY(100%); //move visible part of the btn down
    }

    &:hover &__invisible {
        top: 0; //move invisible part of the btn down
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}