.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-2);

    display: flex; //position children els in a row
    justify-content: space-between; //position children els horizontally along the MAIN axis
    align-items: center; //center children els vertically along the CROSS axis
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%;

    display: flex; //prepare for formatting (apply justify-content: space-between)
    flex-direction: column;
    justify-content: space-between; //move "legal" block down to the bottom
}

.hotel-view {
    background-color: #fff;

    flex: 1;
}

.detail {
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-top: 1px solid var(--color-grey-light-2);
    border-bottom: 1px solid var(--color-grey-light-2);

    display: flex;

    & > * {
        box-shadow: 0 2rem 5rem rgba(0, 0, 0, .06);   
    }
}

.description {
    margin-right: 4.5rem;
    padding: 3rem;
    background-color: #fff;
    font-size: 1.4rem;
    flex: 0 0 60%; //grow = 0, shrink = 0, width 60% of the "detail" (parent el).
}

.user-review {
    background-color: aqua;
    flex: 1; //flex-grow = 1 will occupy the remaning spase of the "detail" el.
}